[submodule "ip/camera_if/dvp_rx_controller"]
	path = ip/camera_if/dvp_rx_controller
	url = https://github.com/atfox272/DVP-RX-Controller.git
[submodule "ip/display_if/dbi_tx_controller"]
	path = ip/display_if/dbi_tx_controller
	url = https://github.com/atfox272/DBI-TX-Controller.git
[submodule "ip/dma/axi_dma"]
	path = ip/dma/axi_dma
	url = https://github.com/atfox272/dma.git
	branch = verilog_version
[submodule "ip/interconnect/axi_interconnect"]
	path = ip/interconnect/axi_interconnect
	url = https://github.com/atfox272/AXI4-Interconnect.git
[submodule "ip/memory/axi_mem"]
	path = ip/memory/axi_mem
	url = https://github.com/atfox272/axi_mem.git
[submodule "ip/peripherals/sccb_master_controller"]
	path = ip/peripherals/sccb_master_controller
	url = https://github.com/atfox272/SCCB-Master-Controller.git
[submodule "rtl/common"]
	path = rtl/common
	url = https://github.com/atfox272/hdl-common.git
