#N
@min_distance=5
sys_clk
sys_trap_o
rst_n

#S
@min_distance=1
dvp_d_i.*
dvp_href_i
dvp_vsync_i
dvp_pclk_i
dvp_xclk_o
dvp_pwdn_o
#E
@min_distance=5
dbi_dcx_o
dbi_csx_o
dbi_resx_o
dbi_rdx_o
dbi_wrx_o
dbi_d_o.*
#W
@min_distance=5
sio_c
sio_d